<%= form_with(model: [commentable, Comment.new], local: true, id: "comment") do |form| %>
  <div class="field">
    <%= form.text_area :body, placeholder: t("Add a comment") %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
